
<!DOCTYPE HTML>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shopunion</title>
        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/reset.css" />
        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/css3.css" />
        <link href="../Content/css/FrontPages/stylef4e8.css?v=5cray4ggQJf3THPfwDre4BjfG6DfHYrYnS9OP5SWte81" rel="stylesheet">

        <link href="../Content/css/FrontPages/responsivee7ad.css?v=MaBa4j9lVgqY7OTzJy-MiJxgwPAXAYA_iUvaKa-HR-81" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/jquery.bxslider.css" />
        <link href="../Content/css/FrontPages/fonts/fonts6728.css?v=ut7OezvAemdiG0ZI0TgitFk5TDrVGGRuzeJNqtw74Kc1" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/video-modal.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../Scripts/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/html5.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/browser.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/jquery.bxSlider.min.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/common.js"></script>
        
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Shopunion" />
        <meta property="og:description" content="Shopunion connects businesses and organizations to the people in their community who care about them." />
        <meta property="og:image" content="http://shopunion.com/Content/images/FrontPages/logo.png" />

        
<script type="text/javascript">
    var shopUnion = shopUnion || {};
    shopUnion.NotificationImagesMinWidth = '640';
    shopUnion.currency = 'usd';
    shopUnion.stripePublishableKey = 'pk_fH8BgVIltG36uwm2GxTZJGgFWnrr5';
    shopUnion.isMobile = 'False' === 'True';

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45086704-1', 'shopunion.com');
    ga('send', 'pageview');
</script>
<script src="../Scripts/placeholder.js"></script>

    </head>
    <body>
        <header id="header">
            <div class="wrapper">
                <span id="mobileMenu">MobileMenu</span>
                <a href="../index.html" class="logo"><img src="../Content/images/FrontPages/logo.png" alt=""/></a>
                <nav>
                    <ul class="menu">
                        <li ><a href="Business.html">Business</a></li>
                        <li ><a href="Community.html">community</a></li>
                        <li ><a href="App.html">the app</a></li>
                        <li ><a href="Pricing.html">Pricing</a></li>
                        <li class=active><a href="Testimonials.html">testimonials</a></li>
                        <li ><a href="OurStory.html">our story</a></li>
                    </ul>
                </nav>
                <ul class="login">
                    <li><a href="../Account/SignIn.html">Login</a></li>
                    <li><a href="../signup.html">register</a></li>
                </ul>
            </div>
        </header>
        
        

<section id="banner" class="testiBanner">
    <div class="wrapper">
        <h1>
            TESTIMONIALS</h1>
        <p>
            People are already finding success with Shopunion. See what they're saying...</p>
    </div>
</section>
<div id="container">
    <section class="qouteRow">
        <div class="wrapper">
            <figure class="userImg">
                <img src="../Content/images/FrontPages/user-pic03.jpg" alt="picture" /></figure>
            <div class="toolTip red">
                <em></em>
                <p>
                    "Shopunion allows me to <span class="bigText">push daily specials</span> to all
                    of our followers. I have had customers tell me they were on their way somewhere
                    else, but changed directions when they got our push. <strong>That's awesome!"</strong>
                </p>
                <p class="name">
                    -Slick Rick's Foods</p>
            </div>
        </div>
    </section>
    <section class="qouteRow swap">
        <div class="wrapper">
            <figure class="userImg">
                <img src="../Content/images/FrontPages/user-pic04.jpg" alt="picture" /></figure>
            <div class="toolTip red">
                <em></em>
                <p>
                    "We enjoy using Shopunion because it's <span class="bigText">easy and instant!</span>
                    When there are prayer requests, events, or programs happening in the church, Shopunion
                    helps us to stay connected with each other to <span class="mediumText">spread the word
                        quickly.</span>"</p>
                <p class="name">
                    -Jefferson Street UMC</p>
            </div>
        </div>
    </section>
    <section class="qouteRow">
        <div class="wrapper">
            <figure class="userImg">
                <img src="../Content/images/FrontPages/user-pic05.jpg" alt="picture" /></figure>
            <div class="toolTip red">
                <em></em>
                <p>
                    "Shopunion's scheduling feature makes it <span class="mediumText">easy and convenient
                    </span>to enter our <span class="mediumText">future deals and events</span> in the
                    calendar, keeping our customers informed and creating more for us to help them find
                    what they need."</p>
                <p class="name">
                    -Home Hardware</p>
            </div>
        </div>
    </section>
    <section class="qouteRow swap">
        <div class="wrapper">
            <figure class="userImg">
                <img src="../Content/images/FrontPages/user-pic06.jpg" alt="picture" /></figure>
            <div class="toolTip red">
                <em></em>
                <p>
                    "Shopunion lets us <span class="mediumText">communicate directly and immediately</span>
                    with our customers and we are <span class="mediumText">thrilled with the results.</span>
                    Every week our customers say they came because the specials sounded good.</p>
                <p class="name">
                    -Bowie's Bar &amp; Grill</p>
            </div>
        </div>
    </section>
</div>
<section class="download joinUs">
    <div class="wrapper">
        <div class="downloadInner">
            <h3>
                We can't wait to show you what Shopunion can do for you.</h3>
            <p class="paddOne">
                We're extremely humbled by the opportunity to work with hundreds of awesome local
                <strong>businesses</strong> and <strong>organizations</strong> who are making their
                communities better places.</p>
            <span class="title">Why don't you join us?</span>
        </div>
    </div>
    <div class="appBox">
        <div class="appBtnBox">
            <div class="wrapper">
                <a href="../signup/premium.html">
                    <img src="../Content/images/FrontPages/btn-bg03.png" alt="" />
                </a> 
                <a href="../signup/community.html">
                    <img src="../Content/images/FrontPages/btn-bg04.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>


        <footer id="footer">
            <div id="footerTop">
                <div class="wrapper">
                    <div class="tweetSlide">
                        <figure><img src="../Content/images/FrontPages/tweeter-icon.png" alt=""/></figure>
                        <div class="tweet">
                            <p>
                                <span class="last-tweet-text">
                                    
                                </span>
                                <em class="last-tweet-author">by Shopunion</em>
                            </p>
                            <p><small class="last-tweet-createdat">about 5 minutes ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footerMiddle">
                <div class="wrapper">
                    <section class="footeLogoSec">
                        <a href="#" class="footerLogo">
                            <img src="../Content/images/FrontPages/logo-footer.png" alt=""/>
                        </a>
                        <ul class="social">
                            <li class="facebook"><a href="http://www.facebook.com/Shopunion">facebook</a></li>
                            <li class="tweeter"><a href="http://www.twitter.com/shopunion">tweeter</a></li>
                            <li class="vimeo"><a href="http://vimeo.com/68562676">vimeo</a></li>
                        </ul>
                    </section>
                    <section class="box blog">
                        <h6>
                            <a href="http://blog.Shopunion.com/">
                                CHECK OUT THE BLOG
                            </a>
                        </h6>
                        <p>
                            We blog about technology, local culture, startups, new features and anything else that comes to mind.
                        </p>
                    </section>
                    <section class="box contact">
                        <h6>contacts</h6>
                        <ul>
                            <li>
                                <figure><img src="../Content/images/FrontPages/msg-icon.png" alt=""/></figure>
                                <p><a href="mailto:info@shopunion.com">info@shopunion.com</a></p>
                            </li>
                        </ul>
                    </section>
                    <section class="box newsletter">
                        <h6>newsletter signup</h6>
                        <p>By subscribing to our mailing list you<br/>will get the latest news from us.</p>
                        <div class="newsletterBox">
                            <div id="mc_embed_signup">
                                <form action="#" 
                                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    <input type="submit" value="join us" name="subscribe" id="mc-embedded-subscribe">
                                
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
            <div id="footerBottom">
                <div class="wrapper">
                    <p>&COPY; 2013 shopunion. All Rights Reserved</p> 
                </div>
            </div>
        </footer>
        
        <script src="../Scripts/FrontPages/main.js"></script>
        
    </body>

</html>

